*
  box-sizing: border-box
  line-height: 0
body 
  font-family: 'HK Grotesk','Open Sans', sans-serif
  color: #202020
  margin: 0 
.container
  max-width: 1280px
  margin: auto
.title  
  font-family: HK Grotesk;
  font-style: normal
  font-weight: bold
  font-size: 48px
  line-height: 60px
  letter-spacing: 0.2px
  color: $dark
.text  
  font-family: Open Sans
  font-style: normal
  font-weight: normal
  font-size: 20px
  line-height: 36px
  color: $light
