*
  box-sizing: border-box
body 
  font-family: 'HK Grotesk','Open Sans', sans-serif
  color: #202020
  margin: 0 
.container
  max-width: 1280px
  margin: auto
.title  
  font-family: HK Grotesk
  font-style: normal
  font-weight: bold
  font-size: 48px
  line-height: 60px
  letter-spacing: 0.2px
  color: $dark
.text  
  font-family: Open Sans
  font-style: normal
  font-weight: normal
  font-size: 20px
  line-height: 36px
  color: $light

.thank-you__container
  max-width: 1042px
  margin: auto
.button-back
  max-width: 233px
  font-family: Open Sans
  font-style: normal
  font-weight: bold
  font-size: 18px
  line-height: 25px
  text-align: center
  color: $white
  padding: 10px 45px
  background-color: $dark
  border-radius: 8px
  text-decoration: none
  outline: none
  cursor: pointer
